<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="com.toycloud.launcher" platformBuildVersionCode="26" platformBuildVersionName="8.0.0">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BODY_SENSORS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.iflytek.lanucher.permission.READ_CONTENT"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="com.android.permission.MYEYECARERECEIVER"/>
    <permission android:name="com.android.permission.MYEYECARERECEIVER"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="com.toycloud.permissions.BROADCAST_TOKEN_ERROR"/>
    <uses-permission android:name="com.iflytek.feedback.permission.MESSAGE"/>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_USER_DATA"/>
    <uses-permission android:name="com.iflytek.study.permission.READ_CONTENT"/>
    <uses-feature android:name="android.hardware.camera.setParameters" android:required="false"/>
    <uses-permission android:name="com.iflytek.cbg.ai.study.push.message.service.RECEIVER_PERMISSION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <application android:allowBackup="true" android:clearTaskOnLaunch="true" android:excludeFromRecents="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.toycloud.launcher.application.LauncherApplication" android:resumeWhilePausing="true" android:screenOrientation="nosensor" android:stateNotNeeded="true" android:supportsRtl="true" android:taskAffinity="android.task.launcher" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustPan">
        <receiver android:enabled="true" android:exported="true" android:name="com.toycloud.launcher.DeleteNotificationReceiver"/>
        <activity android:launchMode="singleTop" android:name="com.toycloud.launcher.webview.NotificationBarWebviewActivity" android:taskAffinity="com.iflytek.cbg.launcher.notification.webview"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.toycloud.launcher.NotificationClickReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.toycloud.launcher.AIStudyPushMessageReceiverImpl">
            <intent-filter>
                <action android:name="com.iflytek.cbg.ai.study.push.message.SEND.BROADCAST.ACTION"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="app_hide_icon" android:value="true"/>
        <meta-data android:name="app_hide_icon_for_launcher_version" android:value="123,456"/>
        <meta-data android:name="com.toycloud.launcher.model.launcher.glide.ApkIconGlideModule" android:value="GlideModule"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:enabled="true" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.MainActivity" android:resumeWhilePausing="true" android:screenOrientation="landscape" android:stateNotNeeded="true" android:taskAffinity="" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="com.toycloud.launcher.ui.usercenter.UserCenterActivity" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.CustomErrorActivity" android:screenOrientation="landscape" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.login.LoginActivity" android:screenOrientation="landscape" android:taskAffinity="android.task.launcher" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.regist.RegistActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.regist.CompleteUserInfoActivity" android:screenOrientation="landscape" android:taskAffinity="android.task.launcher" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.regist.CompleteJcInfoActivity" android:screenOrientation="landscape" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.common.ForgetPasswordActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.common.AboutActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="com.toycloud.launcher.ui.common.ChangePasswordActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.usercenter.EditUserInfoActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.usercenter.EditJcInfoActivity" android:screenOrientation="landscape"/>
        <provider android:authorities="com.toycloud.launcher.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <permission android:label="Permission for read content provider" android:name="com.iflytek.lanucher.permission.READ_CONTENT" android:protectionLevel="normal"/>
        <provider android:authorities="com.iflytek.lanucher.userinfo" android:enabled="true" android:exported="true" android:name="com.toycloud.launcher.provide.LanucherContentProvider" android:process=":provider" android:readPermission="com.iflytek.lanucher.permission.READ_CONTENT"/>
        <provider android:authorities="com.iflytek.launcher.config" android:exported="true" android:name="com.toycloud.launcher.biz.globalconfig.GlobalConfigProvider"/>
        <activity android:configChanges="fontScale|keyboard|keyboardHidden|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.common.WifiConnectActivity" android:screenOrientation="landscape"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.common.ChangeStorageActivity" android:screenOrientation="landscape"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.common.VoiceAssistantActivity" android:screenOrientation="landscape"/>
        <receiver android:name="com.toycloud.launcher.receiver.AppReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:name="com.toycloud.launcher.ui.common.SdcardReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"/>
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.toycloud.launcher.receiver.MyEyecareReceiver">
            <intent-filter>
                <action android:name="com.toycloud.action.EYEGUAID_SHORT_PRESS"/>
                <action android:name="com.toycloud.action.EYEGUAID_LONG_PRESS"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.toycloud.launcher.receiver.VoiceHelperReceiver">
            <intent-filter>
                <action android:name="com.toycloud.action.ELF_SHORT_PRESS"/>
                <action android:name="com.toycloud.action.ELF_LONG_PRESS"/>
                <action android:name="com.toycloud.action.SETTINGS_OPEN_ELF"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.toycloud.launcher.receiver.SystemUpdateReceiver">
            <intent-filter>
                <action android:name="com.toycloud.action.SETTINGS_OPEN_UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.toycloud.launcher.receiver.VoiceStartAppReceiver">
            <intent-filter>
                <action android:name="com.iflytek.action.OPEN_CONTROL"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="true" android:name="com.toycloud.launcher.checkappversion.MyService_CheckVersion"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.toycloud.launcher.checkappversion.MyReceiver_CheckVersion">
            <intent-filter>
                <action android:name="com.iflytek.action.CHECK_VERSIOL"/>
                <action android:name="com.iflytek.action.CHECK_APPSTATE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.toycloud.launcher.receiver.UserNoticeReceiver">
            <intent-filter>
                <action android:name="com.toycloud.action.SETTINGS_OPEN_USER_MANUAL"/>
                <action android:name="com.toycloud.action.SETTINGS_OPEN_PARENT_CTRL"/>
                <action android:name="com.toycloud.action.SETTINGS_OPEN_FEEDBACK"/>
            </intent-filter>
        </receiver>
        <activity android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.common.UserHelpActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.common.ParentMangerActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan"/>
        <activity android:excludeFromRecents="true" android:name="com.toycloud.launcher.ui.common.DeveloperSecretActivity"/>
        <service android:enabled="true" android:exported="true" android:name="com.toycloud.launcher.checkappversion.MyService_OnScreen"/>
        <service android:enabled="true" android:exported="true" android:name="com.iflytek.alarm.manager.service.AlarmClockService"/>
        <activity android:name="com.iflytek.alarm.manager.test.AlarmClockActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.toycloud.launcher.ui.common.BindWXActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.toycloud.launcher.webview.WebViewActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan"/>
        <activity android:excludeFromRecents="true" android:name="com.toycloud.launcher.biz.evalhint.activity.EvalHintActivity" android:screenOrientation="behind" android:taskAffinity="com.launcher.newtask" android:theme="@style/DialogTheme"/>
        <activity android:name="com.iflytek.framelib.base.WebViewActivity" android:process=":webViewProcess"/>
        <activity android:name="cat.ereza.customactivityoncrash.activity.DefaultErrorActivity" android:process=":error_activity"/>
        <provider android:authorities="com.toycloud.launcher.customactivityoncrashinitprovider" android:exported="false" android:initOrder="101" android:name="cat.ereza.customactivityoncrash.provider.CaocInitProvider"/>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT"/>
        <activity android:exported="true" android:name="com.iflytek.crashcollect.notifier.CrashDetailActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true" android:name="com.iflytek.crashcollect.notifier.CrashListActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>